package {{.Package}}

import (
	"{{.Path}}/{{.Package}}/types"
)

//{{ funcName .Model}}Service is the service for {{ .ModelName }}
type {{ funcName .Model}}Service struct {
	session *Session
}

// New{{ funcName .Model}}Service returns a new {{ funcName .Model}} Service
func New{{ funcName .Model}}Service(c *Session) *{{ funcName .Model}}Service {
	return &{{ funcName .Model}}Service{session: c}
}

//GetIdsByName returns {{ funcName .Model}} ids given a name
func (svc *{{ funcName .Model}}Service) GetIdsByName(name string, options interface{}) ([]int64, error) {
	return svc.session.getIdsByName(types.{{ funcName .Model}}Model, name, options)
}

//GetByIds returns {{ funcName .Model}} with ids
func (svc *{{ funcName .Model}}Service) GetByIds(ids []int64, options interface{}) (*types.{{ funcName .Model}}s, error) {
	p := &types.{{ funcName .Model}}s{}
	return p, svc.session.getByIds(types.{{ funcName .Model}}Model, ids, options, p)
}

//GetByName returns {{ funcName .Model}} with matching name
func (svc *{{ funcName .Model}}Service) GetByName(name string, options interface{}) (*types.{{ funcName .Model}}s, error) {
	p := &types.{{ funcName .Model}}s{}
	return p, svc.session.getByName(types.{{ funcName .Model}}Model, name, options, p)
}

//SearchRead returns {{ funcName .Model}} with matching name
func (svc *{{ funcName .Model}}Service) SearchRead(args []interface{}, options interface{}) (*types.{{ funcName .Model}}s, error) {
	p := &types.{{ funcName .Model}}s{}
	return p, svc.session.SearchRead(types.{{ funcName .Model}}Model, args, options, p)
}

//GetByField returns {{ funcName .Model}} matching field and value
func (svc *{{ funcName .Model}}Service) GetByField(field string, value string, options interface{}) (*types.{{ funcName .Model}}s, error) {
	p := &types.{{ funcName .Model}}s{}
	return p, svc.session.getByField(types.{{ funcName .Model}}Model, field, value, options, p)
}

//GetAll returns all the {{ funcName .Model}}
func (svc *{{ funcName .Model}}Service) GetAll(options interface{}) (*types.{{ funcName .Model}}s, error) {
	p := &types.{{ funcName .Model}}s{}
	return p, svc.session.getAll(types.{{ funcName .Model}}Model, options, p)
}

//Create a new {{ funcName .Model}}
func (svc *{{ funcName .Model}}Service) Create(fields map[string]interface{}, relations *types.Relations, options interface{}) (int64, error) {
	return svc.session.create(types.{{ funcName .Model}}Model, fields, relations, options)
}

//Update updates fields of {{ funcName .Model}} specified with ids
func (svc *{{ funcName .Model}}Service) Update(ids []int64, fields map[string]interface{}, relations *types.Relations, options interface{}) error {
	return svc.session.update(types.{{ funcName .Model}}Model, ids, fields, relations, options)
}

//Delete deletes the {{ funcName .Model}} with ids
func (svc *{{ funcName .Model}}Service) Delete(ids []int64, options interface{}) error {
	return svc.session.delete(types.{{ funcName .Model}}Model, ids, options)
}
